TEMPORAL__ADDRESS=localhost:7233
TEMPORAL__NAMESPACE=app
TEMPORAL__TASK_QUEUE=test

WORKER__MAX_CONCURRENT_ACTIVITIES=10
WORKER__MAX_CONCURRENT_WORKFLOW_TASKS=5

LLM__BASE_URL=
LLM__TOKEN=your-token-here
LABTEST_RECOGNITION__URL=https://ml-dev.example.com/labtest-recognition
